[Unit]
Description = "SSH WSL Relay"

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/socat "UNIX-LISTEN:${SSH_AUTH_SOCK},fork,unlink-close,unlink-early" EXEC:"%h/.local/bin/npiperelay-wsl //./pipe/openssh-ssh-agent",nofork

[Install]
WantedBy=default.target
