[user]
    name = Lisa White
    email = lisa.rsfp+dev@gmail.com

[merge]
    tool = vimdiff

[core]
    editor = vim
    pager = most

[push]
    default = current

[color]
    ui = auto

[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    tpush = push --tags
    tpull = pull --tags

[url "git@github.com:"]
    pushInsteadOf = https://github.com/
