{% import "std/nginx/listen.nginx" as _listen %}

{% macro listen(server_cert_name, port=443) %}
{% set ssl_certificate = '/etc/letsencrypt/live/' + server_cert_name + '/fullchain.pem' %}
{% set ssl_certificate_key = '/etc/letsencrypt/live/' + server_cert_name + '/privkey.pem' %}
{% if exists(ssl_certificate) and exists(ssl_certificate_key) %}
    {{_listen.https(port)}}
    ssl_certificate {{ssl_certificate}};
    ssl_certificate_key {{ssl_certificate_key}};
{% else %}
    {{_listen.disable()}}
{% endif %}
include /etc/letsencrypt/options-ssl-nginx.conf;
{% endmacro %}
