{% macro server(matrix_server) %}
location /.well-known/matrix/client {
    return 200 '{"m.server": {"base_url": "{{matrix_server}}"}}';
    default_type application/json;
    add_header Access-Control-Allow-Origin *;
}
location /.well-known/matrix/server {
    default_type application/json;
    add_header Access-Control-Allow-Origin *;
    return 200 '{"m.server":"{{matrix_server}}"}';
}
{% endmacro %}
