{% import "std/nginx/letsencrypt.nginx" as _letsencrypt %}
{% import "std/nginx/listen.nginx" as acme %}
{% import "std/nginx/logging.nginx" as logging %}

{% macro http(server_name, server_aliases=[]) %}
server_name {{server_name}} {{' '.join(server_aliases)}};
{{listen.http()}}
{{logging.default(server_name)}}
{% endmacro %}

{% macro letsencrypt(server_name, cert_name=None, server_aliases=[]) %}
{% if cert_name == None %}
    {% set cert_name = server_name %}
{% endif %}
server_name {{server_name}} {{' '.join(server_aliases)}};
{{_letsencrypt.listen(cert_name)}}
{{logging.default(server_name)}}
{% endmacro %}
