[Unit]
Description = "SSH agent"

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
# DISPLAY or WAYLAND_DISPLAY is required for ssh-askpass to work.
# Use $ systemctl --user import-environment DISPLAY WAYLAND_DISPLAY
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
