[include]
    path = ~/.gitconfig-user

[merge]
    tool = vimdiff

[push]
    default = current

[color]
    ui = auto

[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    tpush = push --tags
    tpull = pull --tags
    amend = commit --amend

[url "git@github.com:"]
    pushInsteadOf = https://github.com/

[url "git@gist.github.com:"]
    pushInsteadOf = https://gist.github.com/

[url "ssh://aur@aur.archlinux.org/"]
    pushInsteadOf = https://aur.archlinux.org/
